<div *ngIf="hasListOfJokes">
  <section>
    <header>
      <div class="col">ID</div>
      <div class="col">Category</div>
      <div class="col">Date created</div>
    </header>
    <div
      *ngFor="let joke of jokes; index as i"
      class="row"
      [class.row--expanded]="isLineExpanded(i)"
      (click)="expandLine(i)"
    >
      <div class="col">{{ joke.id }}</div>
      <div class="col">{{ joke.categories }}</div>
      <div class="col">{{ joke.created_at | date: "medium" }}</div>
      <div class="col--expanded" *ngIf="isLineExpanded(i)">
        <ng-container
          [ngTemplateOutlet]="factTemplate"
          [ngTemplateOutletContext]="{ fact: joke }"
        ></ng-container>
      </div>
    </div>
  </section>
</div>

<ng-template #factTemplate let-fact="fact">
  <blockquote class="single-fact">
    <p>{{ fact.value }}</p>
  </blockquote>
</ng-template>
