.single-fact {
  max-width: 700px;
  border: solid 5px #29abe2;
  border-style: dashed dashed solid solid;
  padding: 20px 40px;
  color: #29abe2;
  font-size: 25px;
  line-height: 2;
  text-align: center;
  margin: 30px auto 0;
}
