<form class="page__form form" [formGroup]="form" (ngSubmit)="getRandomFact()">
  <app-chuck-input
    [name]="'nameControl'"
    [label]="'Your name'"
    formControlName="userName"
  ></app-chuck-input>

  <app-chuck-select
    [name]="'categoryControl'"
    [label]="'Category'"
    [placeholder]="'Pick a category'"
    [options]="categories"
    formControlName="categories"
  ></app-chuck-select>
  <app-chuck-button [classList]="'form__button'" [buttonType]="'submit'"
    >GO!</app-chuck-button
  >
</form>

<div class="page__content">
  <app-fact-card *ngIf="joke$ | async as joke">
    <p>{{ joke.value }}</p>
  </app-fact-card>
</div>
