<form class="page__form form" [formGroup]="form" (ngSubmit)="getRandomFact()">
  <app-chuck-input
    [name]="'nameControl'"
    [label]="'Your name'"
    formControlName="userName"
  ></app-chuck-input>
  <div class="form-control">
    <label for="categoryControl">Category </label>
    <ng-select
      [items]="categories"
      [multiple]="true"
      formControlName="categories"
      labelForId="categoryControl"
    ></ng-select>
  </div>
  <app-chuck-button [classList]="'form__button'" [buttonType]="'submit'"
    >GO!</app-chuck-button
  >
</form>

<div class="page__content">
  <app-fact-card *ngIf="joke$ | async as joke">
    <p>{{ joke.value }}</p>
  </app-fact-card>
</div>
